body{
position:"absolute";
left:0;
right:0;
top:0;
bottom:0;
/* pour supprimer les */
overflow-x: hidden;

}
nav{

    height: 100%;
    background: rgba(34,40,49,1);
   position:fixed;
  width:13%;
  
  }

  #links{                                                                   
    margin-top:20px;
    margin-left:20px;
    color:#ffd369;
    display:flex;
    flex-direction:column;
    align-items: stretch;
  }
  
  .icone{
     height:70px;
     width:140px;
     margin-left:20px;
     margin-top:1em;
  }
#logo{
    border-radius: 26px;
    height: 50px;
    margin-left:20px;
}
.nav{
    border-radius: 62px;
}

.nav:hover{
  text-decoration:solid  #ffd369;
  background: rgba(57,62,70,1);
  border-radius: 62px;
}

#home{
    position:absolute;
    top:0;
   
    right:0px;
    width:87%;
    background: rgb(57,62,70);
    background: linear-gradient(90deg, rgba(57,62,70,1) 37%, rgba(34,40,49,1) 83%);
    min-height:170vh;
 
}
#btncontact{
    border: solid 0.1px #ffd369;
    padding:1em;
    padding-left:2.5em;
    color:#ffd369;
    animation:contact 0.5s linear;
    animation-delay: 2s;
    margin-left:160px;
    margin-top:80px;
    border-radius:62px;
    height:90px;
    width:300px;
    font-size:25px;

    }
    #btncontact:hover{
        background:#ffd369 ;
        color:rgb(57,62,70);
    }
#parade{
  clip-path: circle(46.5% at 100% 11%);
  opacity: 0.5;
 position:absolute;
 top: 0;
 right:0;

}
.nom{
  visibility: hidden;
    animation:intro 2s linear; 
    margin-top:110px;
    font-family: 'Train One', cursive;
    margin-left:10px;
}
.nnom{
    animation:introo 2s  linear; 
    font-family: 'Train One', cursive;
    color:#eeeeee;
    margin-top:100px;
    margin-left:20px;
  
}

@keyframes intro{
    0%{
        visibility:hidden;
        margin-top:0px;
    }
    20%{
        visibility:visible;
        color:#eeeeee;
     
    }
    40%{
        visibility:visible;
        color:#eeeeee;
        margin-top:100px;

    }
    60%{
        visibility:visible;
        color:#eeeeee;
        margin-top:150px;
    }
    80%{
        
        margin-top:130px;
        color:#eeeeee;
    }
    100%{
        margin-top:110px;
        visibility:hidden;
    }
}
@keyframes introo {
        0%{
            visibility:hidden;
            margin-top:0px;
            color:#9bfc92;
        }
        40%{
            visibility:hidden;
            color:#9bfc92;
         
        }
        60%{
            visibility:visible;
            color:#9bfc92;

        }
        80%{
        
        
            color:#9bfc92;
            visibility:visible;
        }
  
        100%{
            color:#eeeeee;
        
        }
    }
    @keyframes contact{
        0%{
            visibility:hidden;
            margin-left:0px;
        
        }
        40%{
            visibility:hidden;
            margin-left:20px;
        }
        60%{
            visibility:hidden;
            margin-left:40px;
        }
        80%{
            visibility:visible;
            margin-left:60px;
        }
  
        100%{
            margin-left:80px;
        
        }
    }



    #formation{
        position:absolute;
       width:87%;
        top:750px;
        right:0px;
        min-height:170vh;
        background:#ffd369;
        background: linear-gradient(40deg, rgba(57,62,70,1) 3%, #ffd369 93%);
       
    }
    #formation p{
        color:rgba(238,238,238,1);    
        font-family: 'Train One', cursive;
    }

#projets{
 
    position:absolute;
    top:1450px;
    width:87%;
    right:0px;
    min-height:170vh;
    background: url(assets/black4.jpg) ;
     background:#ffd369;
        background: linear-gradient(40deg, rgba(57,62,70,1) 27%, #ffd369 63%);
       
    background-size:cover
   
}
#projets button{
      position:relative;
      bottom:2px;
      left:20px;
    color:#c79318;
}
#projets strong{
 
   color:rgba(57,62,70,1);
   font-family: 'Chango', cursive;
   margin-left:15px;
}
#projectitemcontainer >.projectitem{
    color:rgba(238,238,238,1);
    margin-top:200px;
    margin-left:120px;
    padding-top:10px;
    border:1px solid rgba(57,62,70,1);
    height:300px;
    width:200px;
    border-radius:62px;
    background:rgba(57,62,70,0.4);
    box-shadow:rgba(238,238,238,1) 3px 3px 30px 10px ;
}
#commentaire{
    font-size:12px;
    color:gray;
    float:right;
}

#competences{

    position:absolute;
    top:2165px;
    width:87%;
    right:0px;
    min-height:170vh;
   
    background:#ffd369;
    background: linear-gradient(60deg, #ffd369 67%, whitesmoke 93%);
}
#competencesText{
    border:0px solid rgba(57,62,70,0.5);
    background:rgba(57,62,70,0.5) ;
font-family: 'Nunito', sans-serif;
position:relative;
left:100px;
top:100px;
height:500px;
width:1000px;
border-radius: 62px;
padding: 50px;
box-shadow: 0px 9px 39px 5px whitesmoke;
font-size:20px;
}
#contactermoi{

    position:absolute;
    top:2880.75px;
    width:87%;
    right:0px;
    height:100%;
    background:#ffd369;
    background: linear-gradient(0deg, rgba(57,62,70,1) 11%, #ebc05e 63%);
}
#contactForm{
    border:0px solid rgba(57,62,70,0.5);
    background:rgba(57,62,70,0.5) ;
font-family: 'Nunito', sans-serif;
position:relative;
left:100px;
top:100px;
height:500px;
width:500px;
border-radius: 62px;
padding: 30px;
box-shadow: 0px 9px 39px 5px whitesmoke;
font-size:20px;
}
#contactForm input{
    
height:70px;
width:400px;
border-radius: 20px;
margin: 20px;
opacity: 0.3;
} 
#contactForm button{
    
    height:60px;
    width:400px;
    border-radius: 20px;
    
    margin: 20px;
    font-size:30px;
    } 
    #cv{

         position:relative;
         top:172px;
         left:120px;
         height:300px;
         width:300px;
       }
    #contactermoi img{
     border-radius:62px;
       opacity: 0.6;
      height:300px;
      width:300px;
    }
    #contactermoi h3{

        font-family: 'Nunito', sans-serif;
        font-size:25px;
        color:rgba(57,62,70,1);
       }
@media only screen and (max-width:800px){




    #contactermoi{
         padding-right: 38em;
        position:absolute;
        top:3000.75px;
        width:100%;
        right:0px;
        min-height:170vh;
        background:#ffd369;
        background: linear-gradient(0deg, rgba(57,62,70,1) 11%, #ebc05e 63%);
    }
    #rights{
        margin-top:10em ;
        display: flex;
        flex-flow:row;
    }
    #cv{
        margin-top:20em;
    }
    #links{
        display:flex;
        width:100%;
        flex-direction:row;
         float:top;
         z-index: 5;
         position:fixed;
         top:0px;
         background: rgb(64, 74, 90);
         visibility: visible;
         margin-top:0;
         margin-left:0;
    }

    #competences{

        position:absolute;
        top:2405px;
        width:100%;
        right:0px;
        min-height:170vh;
       padding-right: 10em;
        background:#ffd369;
        background: linear-gradient(60deg, #ffd369 67%, whitesmoke 93%);
    }
    #links:nth-child(1)>a{
        display:none;
        visibility:hidden;
    }
    .navcontainer{
        
         z-index: 3;
         position: absolute;
         top:0;
         background: rgba(34,40,49,1);
         
    }
    #home{
        position:absolute;
        top:6em   ;
        right:0px;
        left:0%;
        width:100%;
        background: rgb(57,62,70);
        background: linear-gradient(90deg, rgba(57,62,70,1) 37%, rgba(34,40,49,1) 83%);
        height:100%;
        z-index: 0;
        
    }
    
    #formation{
        position:absolute;
         width:100%;
        top:790px;
        right:0px;
        min-height:170vh;
        background:#ffd369;
        background: linear-gradient(40deg, rgba(57,62,70,1) 3%, #ffd369 93%);
       
    }
  svg{
        margin-right: 5em;
    }

#projets{
 
    position:absolute;
    top:1650px;
    width:100%;
    right:0px;
    height:auto;
    background: url(assets/black4.jpg) ;
     background:#ffd369;
        background: linear-gradient(40deg, rgba(57,62,70,1) 27%, #ffd369 63%);
       
    background-size:cover
   
}
    nav{

        height: 100%;
        background: rgba(34,40,49,1);
        position: absolute;
        top:0;
      
      }

  .navcontainer{
      visibility: hidden;
  }

  nav{
      visibility: hidden;
  }

}

#lastimage{
    height:200px;
    width:200px;
}